@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');


html,
body {
  --custom-font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --custom-bg-color: #101010;
  --custom-panel-color: #222;
  --custom-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.8);
  --custom-color: #fff;
  --custom-color-brand: #24b47e;
  --custom-color-brand-secondary: #3a2e69;
  --custom-color-secondary: #666;
  --custom-border: 1px solid #333;
  --custom-border-radius: 5px;
  --custom-spacing: 5px;

  padding: 0 !important;
  margin: 0 !important;
  font-family: var(--custom-font-family) !important;
  background-color: var(--custom-bg-color) !important;
}

* {
  color: var(--custom-color);
  font-family: var(--custom-font-family);
  box-sizing: border-box;
}

html,
body,
#__next {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

/* Grid */

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}


.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 96%;
}

.col-1-sm {
  width: 4.33%;
}

.col-2-sm {
  width: 12.66%;
}

.col-3-sm {
  width: 21%;
}

.col-4-sm {
  width: 29.33%;
}

.col-5-sm {
  width: 37.66%;
}

.col-6-sm {
  width: 46%;
}

.col-7-sm {
  width: 54.33%;
}

.col-8-sm {
  width: 62.66%;
}

.col-9-sm {
  width: 71%;
}

.col-10-sm {
  width: 79.33%;
}

.col-11-sm {
  width: 87.66%;
}

.col-12-sm {
  width: 96%;
}

.row::after {
  content: '';
  display: table;
  clear: both;
}

.hidden-sm {
  display: none;
}


/* Forms */

label {
  display: block;
  margin: 5px 0;
  color: var(--custom-color-secondary);
  font-size: 0.8rem;
  text-transform: uppercase;
}

input {
  width: 100%;
  border-radius: 5px;
  border: var(--custom-border);
  padding: 8px;
  font-size: 0.9rem;
  background-color: var(--custom-bg-color);
  color: var(--custom-color);
}

.bio {
  width: 40vw;
  border-radius: 5px;
  border: var(--custom-border);
  padding: 8px;
  font-size: 0.9rem;
  background-color: var(--custom-bg-color);
  color: var(--custom-color);
}


textarea {
  width: 100%;
  border-radius: 5px;
  border: var(--custom-border);
  padding: 8px;
  font-size: 0.9rem;
  background-color: var(--custom-bg-color);
  color: var(--custom-color);
}

input[disabled] {
  color: var(--custom-color-secondary);
}



/* Utils */

.block {
  display: block;
  width: 100%;
}

.inline-block {
  display: inline-block;
  width: 100%;
}

.flex {
  display: flex;
}

.flex.column {
  flex-direction: column;
}

.flex.row {
  flex-direction: row;
}

.flex.flex-1 {
  flex: 1 1 0;
}

.flex-end {
  justify-content: flex-end;
}

.flex-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.text-sm {
  font-size: 0.8rem;
  font-weight: 300;
}

.text-right {
  text-align: right;
}

.font-light {
  font-weight: 300;
}

.opacity-half {
  opacity: 50%;
}

/* Button */



button,
.button {
  color: var(--custom-color);
  border: var(--custom-border);
  background-color: var(--custom-bg-color);
  display: inline-block;
  text-align: center;
  border-radius: var(--custom-border-radius);
  padding: 0.5rem 1rem;
  cursor: pointer;
  text-align: center;
  font-size: 0.9rem;
  text-transform: uppercase;
}

button:hover,
.button:hover {
  color: var(--custom-color-brand);
  border: var(--custom-border);
  background-color: var(--custom-panel-color);

}

button.primary,
.button.primary {
  background-color: var(--custom-color-brand);
  border: 1px solid var(--custom-color-brand);
}

button.primary:hover,
.button.primary:hover {
  background-color: var(--custom-panel-color);
  border: 1px solid var(--custom-color-brand);
}

/* Widgets */

.card {
  width: 100%;
  display: block;
  border: var(--custom-border);
  border-radius: var(--custom-border-radius);
  padding: var(--custom-spacing);
}

.avatar {
  border-radius: var(--custom-border-radius);
  overflow: hidden;
  max-width: 100%;
}

.avatar.image {
  object-fit: cover;
}

.avatar.no-image {
  background-color: #333;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 5px;
}

.footer {
  position: relative;
  max-width: 100%;
  max-height: 10vh;
  min-height: 10vh;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-flow: row;
  border-top: var(--custom-border);
  background-color: var(--custom-bg-color);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}


@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.mainHeader {
  width: 100%;
  font-size: 1.3rem;
  margin-bottom: 20px;
}

.avatarPlaceholder {
  border: var(--custom-border);
  border-radius: var(--custom-border-radius);
  width: 35px;
  height: 35px;
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Auth */

.auth-widget {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.auth-widget>.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #444444;
  text-transform: none !important;
  transition: all 0.2s ease;
}

.auth-widget .button:hover {
  background-color: #2a2a2a;
}

.auth-widget .button>.loader {
  width: 17px;
  animation: spin 1s linear infinite;
  filter: invert(1);
}

/* Account */

.account {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.account>*>.avatarField {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.account>*>.avatarField>.avatarContainer {
  margin-right: 20px;
}

/* Profile Card */

.profileCard {
  border-radius: 5px;
  display: flex;
  border: var(--custom-border);
  background-color: var(--custom-panel-color);
  padding: 20px 20px;
  margin-bottom: 20px;
}

.profileCard:last-child {
  margin-bottom: 0px;
}

.profileCard>.userInfo {
  margin-left: 20px;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profileCard>.userInfo>p {
  margin: 0;
}

.profileCard>.userInfo>.username {
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 5px;
}

.profileCard>.userInfo>.website {
  font-size: 0.9rem;
  color: var(--custom-color-brand);
  margin-bottom: 10px;
  text-decoration: none;
}

header {
  margin-bottom: 30px;
}

header h1 {
  font-family: 'Concert One', cursive;
}

header h5 {
  font-family: 'Rock Salt', cursive;
  letter-spacing: .1px;
  color: var(--custom-color-brand)
}

header h6 {
  letter-spacing: .1px;
  color: var(--custom-color-brand)
}

nav {
  box-sizing: border-box;
  margin: 0;
  width: 100vw;
  border-bottom: 5px solid var(--custom-color-brand);
  margin-bottom: 2em;
  padding-left: 320px;
  padding-right: 320px;
  align-items: center;
  display: flex;
  position: fixed;
  top: 0;

}

.active,
.active:last-child {
  /* border: var(--custom-border); */
  border-radius: var(--custom-border-radius);
  color: var(--custom-color-brand) !important;
  opacity: .5;

}

.description {
  color: #3a2e69;
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1rem;
  margin-left: 1em;
}

.actions {
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 10px;
  padding-right: 320px;

}

.actions h3 {
  margin-right: 1em;
}

a {
  text-decoration: none !important;
  color: white !important;
}


.note {
  background-color: #f2f0ff;
  color: var(--custom-color-brand-secondary);
  max-width: 400px;
  border-radius: 5px;
  margin-top: 1em;
  padding: 1em;
  margin: 2em;
}

.note a {
  color: var(--custom-color-brand-secondary) !important;
}

.note a:hover {
  color: var(--custom-color-brand-secondary) !important;
  font-size: 18px !important;

}

.container {
  /* min-height: 100vh; */
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  min-height: 70vh;
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: none;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

.logo {
  height: 1em;
}

.music-post {
  border: var(--custom-border);
  color: var(--custom-color-secondary);
  background-color: var(--custom-panel-color);
  padding: .75rem;
  /* height: 80vh; */
}

small {
  font: .7em sans-serif;
}


.brand-text {
  color: var(--custom-color-brand) !important;
  padding-right: 10px;
}


.socials-container {
  float: right;
  text-align: right;
  /* justify-content: end; */
  width: 100px !important;
  display: flex;
  flex-direction: column;
  align-content: space-between;

}

.edit-delete-buttons {
  float: right;
  text-align: right;
  /* justify-content: end; */
  display: flex;
}

.collab-button {
  display: flex;

  float: right;

  justify-content: end;

}

.wave-container {
  height: 150px;
  /* overflow: hidden; */
}

.wave-song:first-child {
  position: relative;
  /* top: -150px; */
}

.modal-content {
  background-color: var(--custom-panel-color) !important;
  padding: 2vw;
}

a:hover {
  color: var(--custom-color-brand) !important;

}

.brand-hover:hover {
  background-color: var(--custom-color-brand-secondary) !important;
  border-radius: 10px;
  padding: 1px;
  transform: scale(1.3)
}

.play-button {
  position: relative !important;
  margin: 36px auto !important;
  fill: #24b47e !important;
  color: #24b47e !important;

  background-color: none !important;
  border-radius: 10px;
  padding: 0;
  transform: none !important
}

.play-button:hover {
  fill: #24b47e !important;
}


.delete-button {
  border: var(--custom-border) !important
}

.delete-button:hover {
  color: var(--custom-color-secondary) !important;
}

svg:hover {
  color: var(--custom-color-brand) !important;
}

.comment-holder {
  min-width: 77% !important;
  max-width: 77% !important;
}

ul {
  list-style-type: none;
}




.channel-list li a:before {
  opacity: 0.5;
  list-style-type: none;
}

.channel-list li a:hover {
  opacity: 0.9;
}

.messages {
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
  padding-left: 1vw;
}

.channel-container {
  border: var(--custom-border);
  border-radius: var(--custom-border-radius);
  min-width: 37vw;
  max-width: 37vw;
  /* padding: 40px; */
  max-height: 60vh;
  min-height: 60vh;
  overflow: scroll;
  z-index: -3;
}

.message-header {
  background-color: var(--custom-panel-color);
  padding: none !important;
  opacity: .6;
}

.message-header h3 {
  padding: 1vw !important;

}

.side-bar {
  /* width: 10vw !important; */
  padding-right: 2vw;
}

.side-bar-global {
  width: 100% !important;
}


.active-channel {
  color: var(--custom-color-brand) !important;
  background-color: var(--custom-panel-color);
  padding: .3vh;
  border-radius: 5px;
}

#dropdown-button-drop-up {
  width: 30vw !important;
}

.dropdown-menu,
.dropdown-menu:hover,
.dropdown-item {
  width: 40vw !important;

  background-color: var(--custom-panel-color) !important;
}

/* SCREEN WIDTH */

@media only screen and (min-width: 60em) {

  /* 960px */
  .footer>div:first-child {
    display: flex;
  }

  .footer>div:nth-child(2) {
    justify-content: center;
  }


}



@media (max-width: 600px) {
  .description {
    display: none;
  }

  button,
  .button {
    font-size: 2.5vw !important;
  }

  .wave-container {
    padding-left: 45px !important;
    padding-right: none !important;
  }

  .comment-holder {
    min-width: 60% !important;
    max-width: 60% !important;
  }

  .dropdown-menu,
  .dropdown-menu:hover,
  .dropdown-item {
    width: 70vw !important;

    background-color: var(--custom-panel-color) !important;
  }


  .channel-container {
    border-radius: var(--custom-border-radius);
    min-width: 95vw;
    max-width: 95vw;
    /* padding: 40px; */
    max-height: 50vh;
    min-height: 50vh;

  }


  .active-channel {
    padding-right: max-content !important;

  }
}

@media only screen and (min-width: 33.75em) {

  /* 540px */
  .container {
    width: 80%;
  }

}

@media only screen and (min-width: 45em) {

  /* 720px */
  .col-1 {
    width: 4.33%;
  }

  .col-2 {
    width: 12.66%;
  }

  .col-3 {
    width: 21%;
  }

  .col-4 {
    width: 29.33%;
  }

  .col-5 {
    width: 37.66%;
  }

  .col-6 {
    width: 46%;
  }

  .col-7 {
    width: 54.33%;
  }

  .col-8 {
    width: 62.66%;
  }

  .col-9 {
    width: 71%;
  }

  .col-10 {
    width: 79.33%;
  }

  .col-11 {
    width: 87.66%;
  }

  .col-12 {
    width: 96%;
  }

  .hidden-sm {
    display: block;
  }
}

@media only screen and (min-width: 60em) {

  /* 960px */
  .container {
    width: 75%;
    max-width: 60rem;
  }

}